<h1><%= @direct_message.title %> by <%= @direct_message.user.username %></h1>
<p><%= @direct_message.body %></p>
<p>Date Written <%= @direct_message.created_at %></p>




<p>Find me in app/views/direct_messages/show.html.erb</p>
