<div class="jumbotron col-lg-10 offset-2">
  <h1 class="display-3">Hail Datin'</h1>
  <p class="lead">The world's favorite heavy metal dating site.</p>
  <p>Find your fallen angel today!</p>
  <p class="lead">
    <a class="button_example btn-primary btn-lg" href="users/new" role="button">Register</a>
    <a class="button_example btn-primary btn-lg" href="login" role="button">Sign In</a>
  </p>
</div>





<%= image_tag("HomeLogo1.png", alt: "HomeLogo1", class: "HomeLogo1") %>
