<!DOCTYPE html>
<html>
  <head>
    <title>HailDatinV3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%%; }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
